/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600;700&display=swap');

/* 
   font-family: 'Open Sans', sans-serif;
   font-family: 'Poppins', sans-serif; 
*/
/* Basic CSS */
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #646464;
    line-height: 1.7;
}
h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #212121;
}
.theme-button{
    display: inline-block;
    color: #ffff;
    background-color: #37806B;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 15px 0;
    padding: 10px 20px;
}
.theme-button:hover{
    color: #ffff;
    background-color: #CAA892;
    border-radius: 25px 0;
}
.design-image {
    position: relative;
    z-index: 1;
}
.design-image img{
    border-radius: 140px 0;
}
.design-image::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 20px;
    top: 20px;
    z-index: -1;
    border: 2px solid #B0855B;
    border-radius: 140px 0px;
}
.section-heading h4{
    font-size: 20px;
    text-transform: uppercase;
    color: #646464;
    font-weight: 600;
}
.section-heading h3{
    font-size: 48px;
    color: #212121;
}
.design-text h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 288px;
    font-weight: 700;
    background-image: url("assets/img/succes-text-image.png");
    -webkit-background-clip: text;
    color: transparent;
    background-size: cover;
}
/* Basic CSS end */

/* Header Area CSS */
.header-area{
    padding: 30px 0;
}
.header-area .nav-item{
    margin-left: 30px;
}
.header-area .nav-link{
    text-transform: uppercase;
    color: #111111;
    font-weight: 600;
}
.header-area .nav-link.active{
    color: #646464;
}
.header-area .nav-item:last-child{
    margin-left: 45px;
}
.header-area .nav-item:last-child .nav-link{
    color: #ffff;
    background-color: #CAA892;
    text-transform: capitalize;
    border-radius: 15px 0;
    padding: 10px 20px;
}
.header-area .nav-item:last-child .nav-link:hover{
    background-color: #37806B;
}
/* Header area CSS End */

/* Main Area Start */

/* Hero Area CSS Start */
.hero-area{
    padding: 70px 0;
}
.hero-text h3{
    font-size: 20px;
    color: #646464;
    text-transform: uppercase;
}
.hero-text h2{
    font-size: 72px;
    color: #212121;
    text-transform: capitalize;
}
.hero-text a{
    margin-top: 15px;
}

.hero-image img{
    width: 100%;
    border-radius: 140px 0;
}
/* Hero area CSS end */

/* Service Area CSS Start */
.service-area{
    padding: 100px 0;
    position: relative;
}
.all-services{
    margin-top: 60px;
    position: relative;
}
.service-area .owl-nav{
    position: absolute;
    right: 0;
    top: -100px;

}
.service-area .owl-nav span{
    height: 33px;
    width: 33px;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    color: #646464;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    font-weight: 700;
}
.service-area .owl-nav span:hover{
    background-color: #37806B;
    color: #FFFFFF;
}
.service-area .owl-nav .owl-next{
    margin-left: 15px;
}
.single-service{
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
    padding: 40px 0 30px 40px;
    transition: 0.3s;
    cursor: pointer;
}
.single-service:hover{
    background-color: #CAA892;
    color: #FFFFFF;
}
.single-service:hover h3{
    color: #FFFFFF;
}
.service-area .design{
    position: absolute;
    top: -50px;
}
.service-area .design img{
    height: 100px;
}

/* Service Area CSS End */

/* About area CSS start */
.about-area{
    padding: 30px 0;
    position: relative;
    margin-bottom: 80px;
}
.about-area .about-image img{
    width: 100%;
    border-radius: 140px 0;
}
.about-area .design-image::after{
    left: -20px;
    top: -20px;
}
.about-text{
    margin-left: 80px;
}
.about-area .design{
    position: absolute;
    top: -50px;
    right: 0;
}
.about-area .design img{
    height: 100px;
}
.about-text h3{
    margin-bottom: 20px;
}
.about-text p{
    margin-bottom: 50px;
}
/* About area CSS end */
/* Sucess area CSS start */
.success-area{
    padding: 80px 0;
    position: relative;
}
.success-area .theme-button{
    margin-top: 35px;
}
.success-area .design{
    position: absolute;
    top: -50px;
}
.success-area .design img{
    height: 100px;
}
/* Sucess area CSS end */

/* Main Area End */

/* Footer CSS Start */
.footer-area{
    background-color: #F8F8F8;
    position: relative;
}
.footer-area .footer-top{
    padding-top: 90px;
    padding-bottom: 70px;
}
.footer-about img{
    margin-bottom: 18px;
}
.footer-area h3{
    text-transform: capitalize;
    margin-bottom: 20px;
}
.footer-area p{
    font-size: 16px;
}
.footer-link ul{
    margin: 0;
    padding: 0;
}
.footer-link ul li{
    list-style: none;
}
.footer-link ul li a{
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    color: #646464;
    font-size: 16px;
}
.footer-link ul li a:hover{
    color: #37806B;
}
.footer-link address{
    line-height: 2.2;
    font-size: 16px;
}
.footer-area .social-link a{
    text-decoration: none;
}
.footer-area .social-link a i{
    color: #F8F8F8;
    background-color: #d5d5d5;
    font-size: 20px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
}
.footer-area .social-link a i:hover{
    background-color: #37806B;
    font-size: 25px;
}
.footer-bottom{
    border-top: 1px solid #c4c4c4;
}
.footer-area p{
    margin: 0;
}
.footer-bottom a{
    text-decoration: none;
    color: #37806B;
}
.footer-area .design{
    position: absolute;
    top: -50px;
}
.footer-area .design img{
    height: 100px;
}
/* Footer Area CSS End */

/* RESPONSIVE CSS STARTS*/

@media (max-width: 991px){
/* Basic CSS */
.section-heading h3{
    font-size: 40px;
}

/* Header Area Responsive CSS */
.header-area{
    padding: 10px 0;
}
.header-area .nav-item{
    margin-left: 0;
    margin: 4px 0;
}
.header-area .nav-link{
    background-color: #ffff;
    border-radius: 15px 0;
    border: 1px solid #646464;
    text-align: center;
    background-color: #37806B;
    color: #c4c4c4;
}
.header-area .nav-link:hover{
    background-color: #B0855B;
    color: #d5d5d5;
}
.header-area .nav-link.active{
    color: #F8F8F8;
}

.header-area .nav-item:last-child{
    margin-left: 0;
    margin-top: 20px;
    border: none;
}
.header-area .navbar-toggler{
    box-shadow: none;
    border: none;
}
/* Header area Responsive end */


/* Main area Responsive CSS starts*/

/* Hero area responsive CSS starts */
.hero-area{
    text-align: center;
    padding: 20px 0;
    margin-bottom: 50px;
}
.hero-area-image{
    order: -1;
}
.hero-text{
    margin-top: 100px;
}
.hero-text h2{
    font-size: 60px;
}
.hero-area .theme-button {
    width: 50%;
    border-radius: 15px 0px;
    padding: 20px 0;
}

/* Hero area responsive CSS end */
/* Service Area responsive CSS Start */
.service-area {
    text-align: center;
    padding: 40px 0;
}
.all-services{
    margin-top: 0;
}
.single-service{
    margin-right: 10px;
    margin-left: 10px;
}
.single-service img{
 height: 40px !important;
 width: 40px !important;
}
.service-area .owl-dots button{
    height: 15px;
    width: 15px;
    background-color: #37806B;
    display: inline-block;
    border-radius: 50%;
    margin-left: 15px;
}
.service-area .owl-dots button.active{
    background-color: #B0855B;
}
.single-service{
    padding: 40px 40px 80px 40px;
}
/* Service Area responsive CSS end */

/* About area responsive CSS starts */
.about-area{
    text-align: center;
    padding: 80px 0;
    margin-bottom: 0;
}
.about-area .about-text{
    margin-left: 0;
}
.about-area .about-image{
    margin-bottom: 80px;
}
.about-area .theme-button{
    width: 50%;
}
/* About area responsive CSS end */

/* Sucess area responsive CSS start */
.success-area{
    padding: 10px 0;
    text-align: center;
}
.success-area .success-text{
    margin-bottom: 60px;
}
.success-area .theme-button{
    width: 50%;
}
/* Sucess area responsive CSS end */

/* Main area responsive CSS end */

/* Footer Area Responsive CSS */
.footer-area{
    text-align: center;
}
.footer-area .footer-top{
    padding-top: 60px;
    padding-bottom: 30px;
}
.footer-about{
    margin-bottom: 30px;
}
.footer-about img{
    margin-bottom: 30px;
}
.footer-link{
    margin-bottom: 30px;
}
.footer-link ul li a{
    padding: 10px 0;
}
.footer-area .social-link h3{
    margin-bottom: 30px;
}
.footer-area .social-link a{
    margin-left: 20px;
}
/* Footer area Responsive CSS End */


}

    
